<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078720113512-89adgilhgvn2pn3ga6nvljvmfaubv1fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078720113512-89adgilhgvn2pn3ga6nvljvmfaubv1fp</string>
	<key>API_KEY</key>
	<string>AIzaSyCIyDi-DL6tRUK3y8sPBPpG06sOiy5y_6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1078720113512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edaaltuntas.final</string>
	<key>PROJECT_ID</key>
	<string>ios-project-74f6d</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-74f6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078720113512:ios:085e45ed0bd353620444dd</string>
	<key>DATABASE_URL</key>
	<string>https://ios-project-74f6d-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>